body {
  font: 10px sans-serif;
}
.axis path,
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar {
  fill: black;
}

.Controls {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
 
.Controls__item {
  padding: 10px;
  display: flex;  
  justify-content: center;
}

.Controls__item > label {
  padding: 10px;
}

.MeanAnchor {
  fill: black;
}

.StdAnchor {
  fill: red;
}
